.react-ez-checkout-cart-wrapper, #headlessui-portal-root {
    [multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
        padding-top: .5rem;
        padding-right: .75rem;
        padding-bottom: .5rem;
        padding-left: .75rem;
    }
}
