.cart-item {
    --base-color: #666;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 70px;
    margin: 10% auto;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        font-size: 20px;
    }
}
